<!-- views/pages/form.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form | My Express MySQL database course lab</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h2>Form...</h2>
      <p>This is the form page.</p>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
